
@{
    ViewBag.Title = "BusinessEval";
}

<h1>Business Evaluation</h1>

<table align="center">
    <tr>
        <td>
            <div class="Bla">
                <img src="~/images.jpg" />
                @Html.ActionLink("Set Up Goals", "SetGoals")
            </div>
        </td>

        <td>
            <div class="Bla">
                <img src="~/GridViewDropDownJavascript_1.png" />
                @Html.ActionLink("Total summary", "Totalsummary")
            </div>
       </td>
        <td>
            <div class="Bla">
                <img src="~/images.png" />
                @Html.ActionLink("DataSet vs Goals", "GoalsVsDataSet")
            </div>
    </td>
    </tr>
</table>