
@{
    ViewBag.Title = "DataManagement";
}

<h3 align="center"><strong>Data Management</strong></h3>

<table border="1" align="center">
        <thead>
            <tr>
                <td colspan="5">Employee Information</td>
            </tr>
        </thead>
        <tr>
            <th scope="col"> Name </th>
            <th scope="col"> Address </th>
            <th scope="col"> Location </th>
            <th scope="col"> Date </th>
            <th scope="col"> Date of birth </th>

        </tr>
        <tr>
            <td>Timothy</td>
            <td>5 Ariel Street</td>
            <td>Randburg</td>
            <td>5 May 2014</td>
            <td>02-03-95</td>

        </tr>
        <tr>
            <td>Calvin  </td>
            <td>6 Rand Ave  </td>
            <td>Ransburg  </td>
            <td>4 September 2011  </td>
            <td>04-12-67 </td>

        </tr>
        <tr>
            <td>Edmund  </td>
            <td>4 Park Street  </td>
            <td>Epworth  </td>
            <td>5 November 2015  </td>
            <td>16-09-79  </td>

        </tr>
        <tr>
            <td> John </td>
            <td> 12 Ellen Street </td>
            <td> Detour </td>
            <td> 14 March 2011 </td>
            <td> 14-08-99 </td>

        </tr>
        <tr>
            <td>Petre  </td>
            <td> 14 Eileen Street </td>
            <td> Edenvale </td>
            <td> 15 December 2012 </td>
            <td> 13-05-78 </td>

        </tr>
        <tr>
            <td>Allen  </td>
            <td> 17 Dave Ave </td>
            <td> Melville </td>
            <td> 15 March 2013 </td>
            <td> 12-08-67 </td>

        </tr>
        <tr>
            <td> Bryan </td>
            <td> 14 Malcott Street </td>
            <td> Clearwater </td>
            <td> 14 November 2012 </td>
            <td> 18-07-90 </td>

        </tr>
        <tr>
            <td>Moses </td>
            <td> 13 December Street </td>
            <td> Hilbrow </td>
            <td> 15 September 2011 </td>
            <td> 12-09-79 </td>

        </tr>
        <tr>
            <td>Jacob  </td>
            <td> 22 Mustard Street </td>
            <td> Borrough </td>
            <td> 14 Allen Street </td>
            <td> 13-06-60 </td>

        </tr>
        <tr>
            <td> Thabani </td>
            <td> 13 Vilakazi Street </td>
            <td> Soweto </td>
            <td> 13 November 1997 </td>
            <td> 27-04-74 </td>

        </tr>
    </table>