
@{
    ViewBag.Title = "Homepage";
}
<body>
    <div class="Home">
        <img class="pic" src="~/pic01.jpg" width="870" height="230" alt="" />
    </div>
    <div class="box">
        <h2>Welcome to BizMan</h2>
        <p>
            Information is the lifeblood of every business. BizMan strives to inject this lifeblood into
            your business. <strong>BizMan</strong> is a business consultant who helps you and your business propser. 
            We handle the data for you and convert it into information that your business can in turn use 
            to make businesss decisions. We house your data for you, refine it and help evaluate your progress and where you stand
            in terms of your market share and growth expectations. We keep your data well structured for future reference, and
             you can evaluate your data set at any time to make sense out of it. Many growing businesses die in their infancy
            because of lack of information. We help your business find out its strengths, weaknesses, opportunities and 
            potential threats beforehand, thereby extending the business' life cycle and inject success...
        </p>

    </div>
</body>