<html>
    @{
        ViewBag.Title = "Index";
    }
<body>
    <script src="~/scripts/angular.min.js"></script>
    <script src="~/scripts/JavaScript.js"></script>
    <h1>Evaluate Data</h1>
    <br class="clearfix" />
    <div class="box">
        <img src="~/LineGraph.PNG" />
        <p align="center">
            Sales data set.<br />
            Evaluated on the 13th of January 2016
        </p>
    </div>
        <div class="box" id="content-box1">
            <img src="~/PieChart.PNG" />
            <p align="center">
                Financial data set.<br />
                Evaluated on the 13th of January 2016
            </p>
        </div>
        <div class="box" id="content-box2">
            <img src="~/DoughnutChart.PNG" align="right" />
            <p align="center">
                Employee Data Set.  <br />
                Evaluated on the 12th of March.
            </p>
        </div>
</body>    
</html>
