
@{
    ViewBag.Title = "Login";
}

<p align="center">Please enter your e-mail address and password to login.</p>
<div class="RegBox">
    <form post="">

        <table align="center">

            <tr>
                <td> Email: </td>
                <td> <input type="text" name="U_Email" /> </td>
            </tr>
            <tr>
                <td> Password: </td>
                <td> <input type="password" name="U_Password" /> </td>
            </tr>
           
           
            <tr>
                <td> <input type="submit" value="Submit">  </td>
            </tr>
        </table>

    </form>
</div>