
@{
    ViewBag.Title = "Registration";
}

<p align="center">Welcome to <strong>BizMan</strong>. Enter your registration details to fully utilize our services. Enjoy!</p>

<div class="RegBox" >
    <form post="">

        <table class="center">
            <tr>
                <td> Name: </td>
                <td> <input type="text" name="U_Name" /> </td>
            </tr>
            <tr>
                <td> Email: </td>
                <td> <input type="text" name="U_Email" /> </td>
            </tr>
            <tr>
                <td> Password: </td>
                <td> <input type="password" name="U_Password" /> </td>
            </tr>
            <tr>
                <td> Confirm Password: </td>
                <td> <input type="password" name="U_RE_password" /> </td>
            </tr>
            <tr>
                <td>  </td>
                <td> <input type="submit" value="Submit">  </td>
            </tr>
        </table>

    </form>
</div>
