
@{
    ViewBag.Title = "Resources";
}

<table align="center">
    <tr>
        <td>
            <div class="Resour">

               Resource Name: <br /><br />

                Catagory:
            </div>
        </td>
        <td>
            <div class="Resour">

                Data Set <br /><br />

                Catagory:
            </div>
        </td>
        <td>
            <div class="Resour">

                Resource Name: <br /><br />

                Catagory:
            </div>
        </td>
        <td>
            <div class="Resour">

                Data Set <br /><br />

                Catagory:
            </div>
        </td>
        
    </tr>
    <tr>
        <td>
            <div class="Resour">

                Resource Name: <br /><br />

                Catagory:
            </div>
        </td>
        <td>
            <div class="Resour">

                Data Set <br /><br />

                Catagory:
            </div>
        </td>
        <td>
            <div class="Resour">

                Resource Name: <br /><br />

                Catagory:
            </div>
        </td>
        <td>
            <div class="Resour">

                Data Set <br /><br />

                Catagory:
            </div>
        </td>

    </tr>
</table>
