
@{
    ViewBag.Title = "SetGoals";
}

<p align="center">Set Goals</p>

<div class ="GoalsBox">

    <table>
        <tr>
            <td> Goal:</td>
<td><textarea rows="5" cols="40"> </textarea></td>
        </tr>
        <tr>
            <td> Objective:</td>  <td><textarea rows="5" cols="40"> </textarea> </td>
        </tr>
        <tr>
            <td> Complete Date:</td>
            <td><textarea rows="5" cols="40"> </textarea> </td>
        </tr>
        <tr>
        <td align="center"> <input type="submit" value="Submit">  </td>
        </tr>
        
    </table>
   
</div>