
@{
    ViewBag.Title = "Totalsummary";
}

<h1>Total Summary</h1>

<table align="center">
    <tr>
        <td>
            <div class="Bla">

                Data Set <br /><br />
                Name: <br /><br />
                Type: <br /><br />
                Date:
            </div>
        </td>
        <td>
            <div class="Bla">

                Data Set <br /><br />
                Name: <br /><br />
                Type: <br /><br />
                Date:
            </div>
        </td>
        <td>
            <div class="Bla">

                Data Set <br /><br />
                Name: <br /><br />
                Type: <br /><br />
                Date:
            </div>
        </td>
        <td>
            <div class="Bla">

                Data Set <br /><br />
                Name: <br /><br />
                Type: <br /><br />
                Date:
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="Bla">

                Data Set <br /><br />
                Name: <br /><br />
                Type: <br /><br />
                Date:
            </div>
        </td>
        <td>
            <div class="Bla">

                Data Set <br /><br />
                Name: <br /><br />
                Type: <br /><br />
                Date:
            </div>
        </td>
        <td>
            <div class="Bla">

                Data Set <br /><br />
                Name: <br /><br />
                Type: <br /><br />
                Date:
            </div>
        </td>
        <td>
            <div class="Bla">

                Data Set <br /><br />
                Name: <br /><br />
                Type: <br /><br />
                Date:
            </div>
        </td>
    </tr>
</table>

